<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
      <head>
        <title>Style Voice Home Page</title>
        <link rel="stylesheet" href="/foundation/css/foundation.min.css">
      </head>
<body>
<div id="homePage">
</div>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h1>Welcome to Style Voice</h1>
        <h3>Join our community to find the style that will fit any occasion as well as your needs!</h3>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="primary callout">
        <p><a href="/style">Browse Style</a><br />Pick a Style Any Style</p>
      </div>
      <div class="large-4 medium-4 cell">
        <p><a href="/budget">Browse by Budget</a><br />Pick Your Price</p>
      </div>
      <div class="large-4 medium-4 cell">
        <p><a href="/size">Browse Sizes</a><br />What&rsquo;s my size again?</p>
      </div>
      <div class="large-4 medium-4 cell">
        <p><a href="/addstyle">Add a Style</a><br />I wanna share a style!</p>
      </div>
      <div class="large-4 medium-4 cell">
        <p><a href="/under">Add Something</a><br />I wanna share something</p>
      </div>
  
<script src="/bundle.js"></script>
</body>
</html>