<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:fragment="layout (template)">
<head>
  <title>Style Voice</title>
  <link rel="stylesheet" href="/foundation/css/foundation.min.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/custom">
</head>
<body>
<h1 style="font-family: 'Courgette', cursive; color:#E73C42; text-align:center">Style Voice</h1>
<th:block th:include="${template}"/>
<script src="/bundle.js"></script>
<script>$(document).Foundation();</script>
</body>
</html>